body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 20px;
    height: 80vh;
    width: 80vw;
}

.level__video {
width: 70%;
max-height: 70vh;
border-radius: 15px;
box-shadow: 0 0 30px rgb(255, 94, 0);
}

.level__arrow {
    width: 100px;
    height: 100px;
    text-decoration: none;
    padding: 3vh 0;
}
.arrow {
    color: whitesmoke;
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: bold;
}




